{% extends 'base.html.twig' %}

{% block title %}Description de l'annonce
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Description de l'annonce</h1>


		<table class="table">
			<tbody>
				<tr>
					<th>Réf.</th>
					<td>{{ job.id }}</td>
				</tr>
				<tr>
					<th>Titre</th>
					<td>{{ job.title }}</td>
				</tr>
				<tr>
					<th>Lieu</th>
					<td>{{ job.workPlace }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ job.description }}</td>
				</tr>
				{# <tr>
																																					<th>IsVisible</th>
																																					<td>{{ job.isVisible ? 'Yes' : 'No' }}</td>
																																				</tr> #}
			</tbody>
		</table>

		<a href="{{ path('app_jobcandidate_index') }}">Retour à la liste</a>


	{% endblock %}
