{% extends 'base.html.twig' %}

{% block title %}Inscription consultant
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Création d'un compte consultant.</h1>


		{{ form_start(registrationForm) }}
		<div class="mt-4">{{ form_row(registrationForm.email) }}</div>


		<div class="mt-4">{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}</div>

		<div class="mt-4">{{ form_row(registrationForm.lastname, {
            label: 'Nom de famille'
        }) }}</div>

		<div class="mt-4">{{ form_row(registrationForm.firstname, {
            label: 'Prénom'
        }) }}</div>
		<div class="mt-4">{{ form_row(registrationForm.tel, {
            label: 'Téléphone'
        }) }}</div>


		<div class="container">
			<button type="submit" class="btn btn-secondary btn-lg mt-4">Sauvegarder</button>
		</div>

		{{ form_end(registrationForm) }}</div>


{% endblock %}
