<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home.index')}}"><img src="{{ asset('assets/images/logotrt.png')}}" alt="Logo" style="max-width: 5rem;"></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('home.index')}}">Accueil

						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('readme')}}">Read-me
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Recruteur</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ path('app_job_new')}}">Créer son annonce</a>


						<a class="dropdown-item" href="{{ path('readme')}}">Liste des candidats</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path('readme')}}">Compléter mon profil + adresse firm</a>


					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Candidat</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ path('app_job_index')}}">Voir les annonces</a>

						<a class="dropdown-item" href="#">Postuler à une annonce</a>
						<div class="dropdown-divider"></div>
						{# <a class="dropdown-item" href="{{ path('app_candidate_edit',{'id':app.user.id})}}">Compléter mon profil</a> #}
						<a class="dropdown-item" href="{{ path('app_candidate_new')}}">Compléter et confirmer mon profil</a>


					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Consultant</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Valider un recruteur</a>

						<a class="dropdown-item" href="{{ path('app_job_index')}}">Valider une annonce</a>

						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Valider un candidat + email au recruteur</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path('app_recruiter_new')}}">Compléter mon profil</a>


					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ path('app_register_consultant')}}">Créer un consultant</a>
						<div class="dropdown-divider"></div>

						<a class="dropdown-item" href="{{ path('app_consultant_new')}}">Compléter et confirmer son profil</a>

						<a class="dropdown-item" href="{{ path('app_consultant_index')}}">Liste des consultants</a>


					</div>
				</li>

			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
					<li
						class="nav-item">
						{# <a class="nav-link" href="{{ path ('app_users_show',{'id':app.user.id})}}">Mon compte</a> #}
						<a class="nav-link" href="#">Mon compte</a>

					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>


					</li>
				{% else %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Inscription</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path ('app_register_candidate')}}">Vous cherchez un job</a>

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path ('app_register_recruiter')}}">Vous voulez recruter</a>

						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Me Connecter</a>


					</li>
				{% endif %}
			</ul>

			<form class="d-flex">
				<input class="form-control me-sm-2" type="text" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
