{% extends 'base.html.twig' %}

{% block title %}Recruteur
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Recruteur</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>N°</th>
					<td>{{ recruiter.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ recruiter.lastname }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ recruiter.firstname }}</td>
				</tr>
				<tr>
					<th>Adresse mail</th>
					<td>{{ recruiter.email }}</td>
				</tr>

				<tr>
					<th>Nom de la société</th>
					<td>{{ recruiter.firmName }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ recruiter.addressFirm }}</td>
				</tr>

				<tr>
					<th>Code postal</th>
					<td>{{ recruiter.zipcode }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ recruiter.city }}</td>
				</tr>
				<tr>
					<th>Etat de validation</th>
					<td>{{ recruiter.isValided ? 'Oui' : 'Non' }}</td>
				</tr>
				{# <tr>
																									<th>IsRGPD</th>
																									<td>{{ recruiter.isRGPD ? 'Yes' : 'No' }}</td>
																								</tr> #}
			</tbody>
		</table>

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_recruiter_index') }}">Retour à la liste</a>


		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_recruiter_edit', {'id': recruiter.id}) }}">Valider</a>

		{{ include('pages/recruiter/_delete_form.html.twig') }}

	</div>

{% endblock %}
