{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block body %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>CvName</th>
                <th>IsValided</th>
                <th>IsRGPD</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.lastname }}</td>
                <td>{{ candidate.firstname }}</td>
                <td>{{ candidate.cvName }}</td>
                <td>{{ candidate.isValided ? 'Yes' : 'No' }}</td>
                <td>{{ candidate.isRGPD ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_candidate_show', {'id': candidate.id}) }}">show</a>
                    <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidate_new') }}">Create new</a>
{% endblock %}
