{% extends 'base.html.twig' %}

{% block title %}Liste de vos candidats
{% endblock %}

{% block body %}


	<div class="container mt-4">
		{% if is_granted('ROLE_RECRUITER')  %}

			<h1>Liste de vos candidats TODO</h1>


			{# {% if candidate.isValided == true %} #}


			<table class="table">
				<thead>
					<tr>
						<th>Réf.</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>CvName</th>
						<th>Validés par TRT</th>
						{# <th>email recruteur</th> #}
						<th>actions</th>
					</tr>
				</thead>
				{{ app.user}}


				{% for candidate in candidates %}
					<tbody>
						<tr>
							<td>{{ candidate.id }}</td>
							<td>{{ candidate.user.lastname }}</td>
							<td>{{ candidate.user.firstname }}</td>
							<td>{{ candidate.cvName }}</td>
							<td>{{ candidate.isValided ? 'Oui' : 'Non' }}</td>
							{# <td>{{ candidate.recruiter.email}}</td> #}
							<td>
								<a href="{{ path('app_candidate_show', {'id': candidate.id}) }}">
									Voir la candidature</a>
							</td>
						</tr>

					</tbody>

				{% endfor %}


			</table>
		{% endif %}
	</div>
{% endblock %}
