{% extends 'base.html.twig' %}

{% block title %}Liste des candidats
{% endblock %}

{% block body %}


	<div
		class="container mt-4">
		{# {% if is_granted('ROLE_RECRUITER')  %} #}


		<h1>Liste de vos candidats TODO</h1>


		{# {% if candidate.isValided == true %} #}


		<table class="table">
			<thead>
				<tr>
					<th>Réf.</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>CvName</th>
					<th>Validés par TRT</th>
					<th>email recruteur</th>
					<th>actions</th>
				</tr>
			</thead>
			{{ app.user}}
			{% for candidate in candidates %}
				{% for candidature in candidatures %}
					{% for job in jobs %}
						<tbody>
							{% for recruiter in recruiters %}
								<tr>
									<td>{{ candidate.id }}</td>
									<td>{{ candidate.lastname }}</td>
									<td>{{ candidate.firstname }}</td>
									<td>{{ candidate.cvName }}</td>
									<td>{{ candidate.isValided ? 'Oui' : 'Non' }}</td>
									<td>{{ candidature.job.recruiter.email}}</td>
									<td>
										<a href="{{ path('app_candidate_show', {'id': candidate.id}) }}">
											Voir la candidature</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					{% endfor %}
				{% endfor %}
			{% endfor %}

			{# <a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}">edit</a> #}


		{# {% else %} #}
			{# <tr>
																																																																																																																							<td colspan="7">no records found</td>
																																																																																																																						</tr> #}
		</table>{# {% endif %} #}</div>
{% endblock %}
