{% extends 'base.html.twig' %}

{% block title %}Liste des candidats
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Validation d'un candidat</h1>
		{% if is_granted('ROLE_CONSULTANT')  %}
			<div>
				<h2>Voici la liste des candidats à valider</h2>
			</div>


			<table class="table">
				<thead>
					<tr>
						<th>Réf.</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>CvName</th>
						<th>Validés
						</th>
						{# <th>IsRGPD</th> #}
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for candidate in candidates %}
						<tr>
							{% if candidate.isValided == 0 %}

								<td>{{ candidate.id }}</td>
								<td>{{ candidate.user.lastname }}</td>
								<td>{{ candidate.user.firstname }}</td>
								<td>{{ candidate.cvName }}</td>
								<td>{{ candidate.isValided ? 'Oui' : 'Non' }}</td>
								{# <td>{{ candidate.isRGPD ? 'Yes' : 'No' }}</td> #}
								<td>
									<a href="{{ path('app_candidate_show', {'id': candidate.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
											<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
											<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
										</svg>
									</a>

									<a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}" class="ms-4">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewbox="0 0 16 16">
											<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
										</svg>
									</a>

								</td>
							{% endif %}

						</tr>
					{% else %}
						<tr>
							<td colspan="7">Pas de candidat</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{# <a href="{{ path('app_candidate_new') }}">Create new</a> #}

			<div>
				<h2>Voici la liste des candidats validés</h2>
			</div>


			<table class="table">
				<thead>
					<tr>
						<th>Réf.</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>CvName</th>
						<th>Validés</th>
						{# <th>IsRGPD</th> #}
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for candidate in candidates %}
						<tr>
							{% if candidate.isValided == 1 %}

								<td>{{ candidate.id }}</td>
								<td>{{ candidate.user.lastname }}</td>
								<td>{{ candidate.user.firstname }}</td>
								<td>{{ candidate.cvName }}</td>
								<td>{{ candidate.isValided ? 'Oui' : 'Non' }}</td>
								{# <td>{{ candidate.isRGPD ? 'Yes' : 'No' }}</td> #}
								<td>
									<a href="{{ path('app_candidate_show', {'id': candidate.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
											<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
											<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
										</svg>

									</a>
									<a href="{{ path('app_candidate_edit', {'id': candidate.id}) }}" class="ms-4">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewbox="0 0 16 16">
											<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
										</svg>
									</a>

								</td>
							{% endif %}

						</tr>
					{% else %}
						<tr>
							<td colspan="7">Pas de candidat</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	{% endif %}
{% endblock %}
