{% extends 'base.html.twig' %}

{% block title %}Liste des candidats
{% endblock %}

{% block body %}
	{# {% for candidate in candidates %}
														{% for candidature in candidatures %}
															{% for job in jobs %}
																{% for recruiter in recruiters %}
												
												
																	{{ candidature.job.recruiter.email}}
																{% endfor %}
															{% endfor %}
														{% endfor %}
													{% endfor %} #}

	{% for candidate in candidates %}
		<h2>Nom du candidat</h2>
		{{ candidate.lastname}}
		{% for candidature in candidate.candidatures %}
			<p>Id du job</p>
			<p>{{ candidature.job.id}}</p>
			{% for job in candidature.jobs %}
				<p>{{ job.title }}</p>
				{% for recruiter in job.recruiters %}

					{{ recruiter.email }}

					{{ candidature.job.recruiter.email}}


				{% endfor %}

			{% endfor %}

		{% endfor %}
	{% endfor %}

	{# {{ candidature.job.recruiter.email}} #}
	<p>
		findBY?????
	</p>
{% endblock %}
